@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

body {
    background-image: url(rps.png);
    background-color:azure;
    font-family: 'Aclonica', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.result {
    height: 50px;
}

.text, .choices {
    display: flex;
}

.choices {
    gap: 10px;
}

.score {
    font-size: 72px;
    margin-bottom: 20px;
}

.text {
    flex-direction: column;
}

.rock {
    background-image: url(rock.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 50px;
    width: 200px;
    border: none;
  }
  
  .rock span {
    display: none;
  }

