@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

body {
    background-image: url(rps.png);
    background-color: azure;
    font-family: 'Aclonica', sans-serif;
}

.container {
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

.result {
    height: 50px;
    font-size: xx-large;
}

.text,
.choices {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choices {
    gap: 10px;
}

.score {
    font-size: 72px;
    margin-bottom: 20px;
}

.text {
    flex-direction: column;
}

button {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: 'Aclonica', sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}